body, html{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width: 100vh;
    height: 100vh;
}

#container {
   border: 2px solid blue;
   display: flex;
}

.buttons {
    display: flex;
    gap: 20px;
    margin-top: 20px;
}



.cell {
    border: 1px solid white;
    flex: 1;
    padding: 20px;
    
}

.gridSet{
    background-color: blue;
    font-family: sans-serif;
    font-weight: 400;
}

.eraser {
    background-color: white;
    color: blue;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 400;
}

button{
    cursor: pointer;
    border-radius: 4px;
    margin-bottom: 10px;
    padding: 10px;
}
